body {
    background-color: black;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 90% 1fr;
}
    .animCont {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        grid-column: 2/3;
        background-color: #666;
        width: 100%;
        height: 48vh;
        margin: 1vh 0%;
        padding: 5%;
    }
        .column {
            background-color: #eee;
            display: inline-block;
            height: 0%;
            width: 10%;
            animation-name: animCol;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 1s;
            animation-play-state: paused;
        }
            @keyframes animCol {
                0% {
                    height: 0%;
                    background-color: #eee;
                }
                90% {
                    background-color: #eee;
                }
                100% {
                    height: 100%;
                    background-color: red;
                }
            }
    .inpCont {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        grid-column: 2/3;
        background-color: #888888;
        width: 100%;
        height: 48vh;
        margin: 1vh 0%;
        padding: 5%;
    }
        .inputs {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 25%;
        }
            .inputs > div {
                display: inline-block;
                width: 10%;
                height: 100%;
            }
                p {
                    display: inline-block;
                    width: 100%;
                    height: 50%;
                    text-align: center;
                }
                input {
                    display: inline-block;
                    width: 80%;
                    height: 44%;
                    margin: 3% 10%;
                }
                    button {
                        display: inline-block;
                        width: 100px;
                        height: 50px;
                    }